html {
  height: 100vh - 40px;
}

#blueGrad {
  background-image: linear-gradient(to bottom right, #99ffff, #5c5cd6);
  
}

body {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left:40px;
  margin-right:40px;
  padding: 0;
  background-color: #99ffff;
  background-image: linear-gradient(to bottom right, #99ffff, #5c5cd6);
  height: calc(100vh - 50px);
  width: calc(100vw - 80px);
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4276de;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-banner {
  align-items: center;
  font-size: 25px;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  color: black;
  /* background-color: #ff9999; */
}

.App-banner-border {
  background: #c5c5c5;
  border: 5px solid black;
  border-style: solid solid hidden solid;
  border-color: black;
  border-width: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
}

.App-tab-row {
  overflow: hidden;
  position: absolute;
  width: calc(100vw - 86px);
  height: 62px;
  color: black;
  padding: 0px;
  display: inline;
  border: 3px solid #000;
  border-style: hidden solid;
  background: #c5c5c5;
  background-color: #c5c5c5;
  background-image: linear-gradient( #c5c5c5, #fff);
}

.App-tab-row-whitespace {
  position: relative;
  width: 50px;
  background-color: transparent;
  border: none;
  display: inline;
}


.App-tab-ids {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  font-family:  Helvetica, sans-serif;
  width: 150px;
  height: 62px;
  color: black;
  padding: 0px;
  border: 3px hidden #000;
  border-radius: 10px 10px 0 0;
  border-right-style: solid;
  border-top-style: outset;
  border-width: 1px 3px;
  background: #d5d5d5;
  display: inline;
}

.App-tab-ids:hover {
  background: #dfdfdf;
}

.App-tab-ids_active {
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  width: 150px;
  height: 62px;
  color: black;
  padding: 0px;
  display: inline;
  background: #fff;
  border: 3px hidden #000;
  border-radius: 10px 10px 0 0;
  border-right-style: solid;
  border-top-style: outset;
  border-width: 1px 3px;
}

.App-tab-ids:focus {
  outline: none;
}

/* .App-tab-whitespace {
  width: calc(100vw - 80px);
  height: 62px;
  color: black;
  padding: 0px;
  display: inline;
  border: 3px solid #000;
  border-bottom-style: hidden;
  background: #c5c5c5;
  
} */


.App-tab-contents_hidden {
  display: none;
}
.App-tab-contents_visible {
  background: #fff;
  display: block;
  font-size: 15px;
  font-family:  Garamond, serif;
  padding-top: 65px;
  padding-left: 15px;
  height: calc(100vh - 227px);
  color: black;
  border: 3px solid black;
  border-top-style: hidden;
  
}

.Data-Template {
  margin: 25px 0 0 25px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  height: 45px;
  font-size: 40px;
  font-family:  Garamond, serif;
  display: inline-flex;
  border-radius: 10px;
  /* background-color: rgb(213, 213, 213); */
  background-color: rgba(153, 255, 255, 0.5);
  background-image: linear-gradient(to bottom right, rgba(153, 255, 255, 0.5), rgba(92, 92, 214, 0.4));
  width: 450px;
  text-align: center;
}

.Pylon-Total-Received {
  margin-left:auto;
  display: inline;
  font-size: 18px;
  font-weight: bold;
  font-family:  Garamond, serif;
  background-color: transparent;
  border: 2px hidden black;
  border-right-style: solid;
  border-right-width: 2px;
  padding-right: 10px;
}

.Pylon-Avg-Latency {
  margin-right : auto;
  display: inline;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family:  Garamond, serif;
  background-color: transparent;
  border: 0px solid black;
}

.IP-Address {
  margin: auto;
  display: inline;
  font-size: 18px;
  font-weight: bold;
  font-family: Garamond, serif;
  background-color: transparent;
  border: 0px solid black;
}

.IP-Address_hidden {
  margin: auto;
  display: none;
  font-size: 18px;
  font-weight: bold;
  font-family: Garamond, serif;
  background-color: transparent;
  border: 0px solid black;
}

#Pylon-table {
  font-size: 18px;
  font-family: Garamond, serif;
  padding-left: 300px;
  margin-top: 35px;
  margin-left: 25px;
  padding-top: 50px;
  width: 480px;
  border-collapse: collapse;
}

#Pylon-table th, #Pylon-table td, #Pylon-table thead {
  border-bottom: 1px solid #d5d5d5;
  padding: 8px;
}

#Pylon-table th {
  text-align: center;
  display: table-cell;
  font-size: 18px;
  font-weight: bold;
  font-family:  Garamond, serif;
  border-top: 1px solid #d5d5d5;
  width: 450px;
}

#Pylon-table thead {
  text-align: center;
  display: table-caption;
  font-size: 18px;
  font-weight: bold;
  font-family:  Garamond, serif;
  
  width: auto;
}

#Pylon-table td {
  text-align: center;
  font-size: 15px;
  font-family: Garamond, serif;
}
.green { background-color: #99ff66; }
.orange { background-color: #ffad33; }
.red { background-color: #ff4d4d; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
